:root {
	--r-background-color: #051525;
	--r-heading-text-transform: none;
	--r-heading1-size: 2.7em;
	--r-main-font-size: 36px;
	--cssimported-demoplugin: true;
}

.demo-plugin-indicator {
	position: fixed;
	bottom: 10px;
	left: 10px;
	background: green;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
	z-index: 1000;
	font-family: var(--r-heading-font), sans-serif;
}